h1 {
    color:rgb(255, 136, 0);
    font-family: "Cinzel", serif;
    
}

img {
    width: 150px;
    object-position: left top;
  
}

p{
    font-size: 1.5rem;
}

h3 {
    font-family: "Cinzel", serif;
}

.info-link {
    color: black;
    font-size:  1.3rem;
    font-style: italic;
}